body{
    background-color: #333;
    margin: 0;
    padding: 0;
}
header img{
    display: block;
    margin: 40px auto 0;
}
.brand{
    float: left;
    width: 46%;
    margin: 1%;
    padding: 1%;
}
.brand a{
    display: block;
    text-align: center;
}
@media screen and (max-width: 700px){
    .brand{
        width: 96%;
        margin: 1%;
        padding: 1%;
    }
}
@media screen and (max-width: 350px){
    .header{
        max-width: 280px;
    }
    .type{
        max-width: 180px;
    }
    .Yn{
        max-width: 70px;
    }
}