body{
    background-color: #333;
}
table{
    margin: auto;
    text-align: center;
    table-layout: fixed;
}

table,tr,th,td {
    padding: 20px;
    color: seashell;
    border: 1px solid silver;
    border-collapse: collapse;
    font-size: 18px;
}
th{
    color: salmon;
}
th,td{
    opacity: 1;
}
td:hover{
    background: darkslategrey;
}
button{
    cursor: pointer;
}


.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}
.modal-content{
    background-color: #f4f4f4;
    margin: 20% auto;
    padding: 20px;
    width: 70%;

}
#closeBtn{
    color: #333;
    float: right;
    font-size: 30px;
}
#closeBtn:hover,#closeBtn:focus{
    color: #000;
    text-decoration: none;
    cursor: pointer;
}